  h3
  {
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(230, 14, 14), 0 0 5px rgb(189, 234, 84);
    font-size: 25px !important;
  }
  
.btn-success:hover
{
	background-color: red;
}


  canvas {
	  animation-name: example;
	  animation-duration: 8s;
	  animation-iteration-count: infinite;
  }


/*@keyframes example {

  from {box-shadow: 1px 1px 38px red;}
  to {box-shadow: 1px 1px 38px yellow;}

}*/

@keyframes example {
 /*from{box-shadow: 5px 5px blue, 10px 10px red, 15px 15px green;}*/

 10% {box-shadow: 1px 1px 38px red;}
  20% {box-shadow: 1px 1px 38px yellow;}
  30% {box-shadow: 1px 1px 38px blue;}
  40% {box-shadow: 1px 1px 38px green;}

}

